apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namePrefix: t-

resources:
- buildah.yaml
- git-clone.yaml
- mvn-build.yaml
- mvn-sonar-scan.yaml
- sonar-scanner.yaml
- trivy-scanner.yaml
- owasp-scanner.yaml
- ./codeql