apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
metadata:
  name: tekon-security-pipline
namePrefix: p-

resources:
# - buildah.yaml
# - maven.yaml
- react.yaml
# - codeql.yaml
# - sonar.yaml
# - trivy.yaml
# - owasp.yaml
# - helm-build-deploy.yaml
